[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
"psycopg2-binary" = "*"
django-rest-swagger = "*"
celery = "*"
redis = "*"
django-cors-headers = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
"psycopg2-binary" = "*"
coverage = "*"
isort = "*"
"flake8" = "*"
"pytest-django" = "*"
"factory-boy" = "*"
coveralls = "*"

[requires]
python_version = "3.6"
